<header class="bg-primary p-10">
  <nav class="container">
    <ul class="d-flex list-unstyled justify-content-between">
      <li><a href="#" class="text-gray82 link-mediumPurple">WILLIAM LEE</a></li>
      <li><a href="#" class="text-gray82 link-mediumPurple">BASED IN TAIWAN</a></li>
      <li><a href="#" class="text-gray82 link-mediumPurple">CURRENTLY FRONT END <br>ENGINEER AT HEXSCHOOL</a></li>
      <li><a href="mailto:williamLee@gmail.com" class="text-gray82 link-mediumPurple">CONTACT ME</a></li>
    </ul>
  </nav>
</header>