<!DOCTYPE html>
<html lang="zh-TW">

<!-- Head -->
<%- include('./layout/head'); -%>

  <body>

    <!-- Header -->
    <%- include('./layout/header'); -%>

      <!-- Main -->
      <main>
        <!-- Banner -->
        <div class="bg-primary py-19">
          <section class="banner__arae d-flex container">
            <img src="../assets/images/william-1.png" alt="william-image" class="me-6">
            <div class="banner__text align-self-center">
              <h2 class="fs-11 text-secondary">Hi <br> I’m a front-end developer</h2>
              <h1 class="text-end text-springGreen fs-12">William</h1>
              <div class="text-end">
                <a href="mailto:williamLee@gmail.com"
                  class="banner__link d-inline-block py-3 px-6 rounded-pill text-center text-primary link-mediumPurple">contact
                  me <span class="material-icons"> arrow_outward </span>
                </a>
              </div>
            </div>
          </section>
        </div>
        <!-- Introduction -->
        <section class="intro__area text-secondary">
          <div class="py-160 d-flex container justify-content-between" data-aos="fade-up">
            <div class="intro__text me-6">
              <h2 class="fs-11 mb-9">Introduction</h2>
              <p class="mb-8 fs-4">
                Hi, I'm William Lee, a Front-End <br>
                Developer with a passion for <br>
                building beautiful and responsive<br>
                websites that provide an optimal<br>
                user experience.
              </p>
              <div class="d-flex">
                <img src="../assets/images/sparkle-sm.png" alt="sparkle-deco" class="me-4">
                <img src="../assets/images/sparkle-sm.png" alt="sparkle-deco" class="me-4">
                <img src="../assets/images/sparkle-sm.png" alt="sparkle-deco">
              </div>
            </div>
            <div class="intro__img d-flex">
              <img src="../assets/images/sparkle.png" alt="sparkle-deco" class="me-6">
              <img src="../assets/images/photographer.png" alt="photographer" class="me-6">
              <img src="../assets/images/william-2.png" alt="william-image">
            </div>
          </div>
        </section>
        <!-- About me -->
        <section class="about__me__area py-160 d-flex container align-items-center justify-content-between">
          <ol class="about__skills list-unstyled d-flex flex-wrap gap-6 me-134" data-aos="fade-right">
            <li class="skills__card p-4 border border-gray82 border-1 text-tertiary">
              <p class="fs-5 mb-1">01</p>
              <h3 class="fs-5 mb-1">Attention to Detail</h3>
              <p>Meticulous code analysis and optimization.</p>
            </li>
            <li class="skills__card p-4 border border-gray82 border-1 text-tertiary">
              <p class="fs-5 mb-1">02</p>
              <h3 class="fs-5 mb-1">Adaptability</h3>
              <p>Swift learning of new technologies.</p>
            </li>
            <li class="skills__card p-4 border border-gray82 border-1 text-tertiary">
              <p class="fs-5 mb-1">03</p>
              <h3 class="fs-5 mb-1">Problem Solver</h3>
              <p>Identifying and resolving issues.</p>
            </li>
            <li class="skills__card p-4 border border-gray82 border-1 text-tertiary">
              <p class="fs-5 mb-1">04</p>
              <h3 class="fs-5 mb-1">Team Player</h3>
              <p>Collaborates and shares ideas.</p>
            </li>
          </ol>
          <div class="about__me__content w-526" data-aos="fade-left">
            <h2 class="fs-11 mb-9">About Me</h2>
            <p class="fs-4">With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React.
              I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
          </div>
        </section>
        <!-- Contact me -->
        <section class="contact__info text-secondary" data-aos="fade-left">
          <div class="py-96 d-flex justify-content-between container">
            <div class="contact__me d-flex align-items-center">
              <h2 class="fs-11 me-4">CONTACT ME</h2>
              <img src="../assets/images/trending_flat_black_24dp 1.png" alt="arrow">
            </div>
            <ul class="icons__area d-flex list-unstyled">
              <li>
                <a href="#" class="me-5 icon__link d-inline-block">
                <img src="../assets/images/discord.png" alt="discord-icon">
              </a>
            </li>
            <li>
              <a href="#" class="me-5 icon__link d-inline-block">
                <img src="../assets/images/instagram.png" alt="instagram-icon">
              </a>
            </li>
            <li>
              <a href="#" class="icon__link d-inline-block">
                <img src="../assets/images/message.png" alt="message-icon">
              </a>
            </li>
            </div>
          </div>
        </section>
        <!-- My projects -->
        <section class="projects__area py-160 container" data-aos="fade-up">
          <h2 class="fs-11 mb-4 w-746 ms-auto">My Projects</h2>
          <!-- projects設定為連結樣式 -->
          <div class="d-flex">
            <div class="projects__left">
              <a href="#" class="projects__left me-6 ">
                <img src="../assets/images/Rectangle 10.png" alt="project-link"
                  class="projects__left__img flex-grow-1 projects__img__hover">
              </a>
            </div>
            <div class="projects__right">
              <div class="projects__right__top d-flex mb-7">
                <a href="#" class="me-6"><img src="../assets/images/Rectangle 15.png" alt="project-link"
                    class="projects__right__top__img projects__img__hover"></a>
                <div class="project__content d-flex flex-column  justify-content-between">
                    <p>I've worked on a variety of websites, including e-commerce sites,<br> blogs, and landing pages. I
                      take
                      pride in creating clean, <br>efficient, and user-friendly code.</p>
                  <div class="see__more__link d-flex">
                    <a href="#"
                      class="see__more__btn d-inline-block bg-primary rounded-pill text-secondary link-mediumPurple py-3  px-6">SEE
                      MORE<span class="material-icons ms-1"> arrow_outward </span></a>
                  </div>
                </div>
              </div>
              <div class="projects__right__bottom d-flex">
                <a href="#" class="me-6">
                  <img src="../assets/images/Rectangle 14.png" alt="project-link" class="projects__img__hover">
                </a>
                <a href="#">
                  <img src="../assets/images/Rectangle 29.png" alt="project-link" class="projects__img__hover">
                </a>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- footer -->
      <%- include('./layout/footer'); -%>

        <!-- Import JS -->
        <script type="module" src="../main.js"></script>
        <!-- Import AOS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
          AOS.init({
            // Global settings:
            disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
            startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
            initClassName: 'aos-init', // class applied after initialization
            animatedClassName: 'aos-animate', // class applied on animation
            useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
            disableMutationObserver: false, // disables automatic mutations' detections (advanced)
            debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
            throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


            // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
            offset: 120, // offset (in px) from the original trigger point
            delay: 0, // values from 0 to 3000, with step 50ms
            duration: 1000, // values from 0 to 3000, with step 50ms
            easing: 'ease', // default easing for AOS animations
            once: false, // whether animation should happen only once - while scrolling down
            mirror: false, // whether elements should animate out while scrolling past them
            anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

          });

        </script>
  </body>

</html>